<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- NUnit Adapter Settings -->
  <NUnit>
    <!-- Generate NUnit3 XML test results directly in ResultsDirectory -->
    <OutputXmlFolderMode>UseResultDirectory</OutputXmlFolderMode>
  </NUnit>
  
  <!-- Logger Settings (optional - can use either NUnit XML or TRX) -->
  <LoggerRunSettings>
    <Loggers>
      <!-- Uncomment to also generate TRX format -->
      <!--
      <Logger friendlyName="trx">
        <Configuration>
          <LogFileName>test-results.trx</LogFileName>
        </Configuration>
      </Logger>
      -->
    </Loggers>
  </LoggerRunSettings>
  
  <!-- Run Configuration -->
  <RunConfiguration>
    <ResultsDirectory>TestResults</ResultsDirectory>
  </RunConfiguration>
</RunSettings>
